<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SelectionCommittee</display-name>
  <context-param>
    <param-name>SupportLocales</param-name>
    <param-value>ru,en</param-value>
  </context-param>
  <context-param>
    <param-name>DefaultLocale</param-name>
    <param-value>ru</param-value>
  </context-param>
  <listener>
    <listener-class>ua.nure.zhabin.SelectionCommittee.listener.ContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>ua.nure.zhabin.SelectionCommittee.filter.AccessFilter</filter-class>
    <init-param>
      <param-name>adminDeniedUri</param-name>
      <param-value>
      	/DisplayFacultiesPage.jsp 	
      	/DisplayRegistrationsPage.jsp      	
      	/MarksPage.jsp
      	/DisplayMarks
      	/DisplayRegistrations
      	/FacultyRegistration
      	/Marks
      </param-value>
    </init-param>
    <init-param>
      <param-name>enrolleesDeniedUri</param-name>
      <param-value>
      	/AdminAddFacultyPage.jsp
      	/AdminDisplayFacultiesPage.jsp
      	/AdminEditFacultyPage.jsp
      	/AdminRegisterPage.jsp
      	/AddFaculty
      	/DeleteFaculty
      	/Register
      	/UpdateFaculty
      </param-value>
    </init-param>
    <init-param>
      <param-name>commonsDeniedUri</param-name>
      <param-value>     
      	/AdminAddFacultyPage.jsp
      	/AdminDisplayFacultiesPage.jsp
      	/AdminEditFacultyPage.jsp
      	/AdminRegisterPage.jsp
      	/DisplayFacultiesPage.jsp 	
      	/DisplayRegistrationsPage.jsp      	
      	/MarksPage.jsp
      	/AddFaculty
      	/DeleteFaculty
      	/DisplayFaculties
      	/DisplayMarks
      	/DisplayRegistrations
      	/FacultyRegistration
      	/Faculty
      	/Marks
      	/Register
      	/UpdateFaculty
      </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AccessFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>  
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>ua.nure.zhabin.SelectionCommittee.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>ua.nure.zhabin.SelectionCommittee.filter.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>ua.nure.zhabin.SelectionCommittee.exception.DbConnectionException</exception-type>
    <location>/NoConnectionError.jsp</location>
  </error-page>
</web-app>